* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1e1d21;
}

/*HEAD*/
#cabeza ul li {
  list-style: none;
  color: #cd1e22;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  transition: font-size 0.5s ease;
}

#cabeza ul {
  display: grid;
  position: absolute;
  top: 2%;
  left: 39%;
  transform: translateX(-50%);
  grid-template-columns: 35% 35% 35% 35%;
}

#cabeza ul li:hover {
  cursor: pointer;

  font-size: 42px;
}
/*FIN DEL HEAD*/

#titulo {
  /*es eso grande que vez cuando entras a la pagina*/
  position: absolute;
  top: 30%;
  font-size: 380%;
  font-family: "Lato", sans-serif;
  color: #9f391a;
  left: 27%;
  transform: translateX(-20%);
}
#art1 {
  position: absolute;
  top: 160%;
  color: aliceblue;
  font-size: 50px;
}
