* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1d21;
  overflow-x: hidden;
}

#cabeza {
  position: fixed;
  top: 2%;
  left: 1%;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
}

#cabeza ul {
  display: flex;
  justify-content: flex-start;
  gap: 3%;
  background-color: black;
}

#cabeza ul li {
  color: #b3bbb9;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  transition: font-size 0.5s ease, color 0.5s ease;
  cursor: pointer;
  list-style: none;
}

#cabeza ul li:hover {
  color: #b63b41;
  font-size: 28px;
}

#titulo {
  position: absolute;
  top: 30%;
  font-size: 380%;
  font-family: "Lato", sans-serif;
  color: #9f391a;
}

#art1 {
  position: absolute;
  top: 2000px;
  color: aliceblue;
  font-size: 50px;
}
